.container {
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.main-container, .saved-orders-container  {
    flex: 1;
    margin-right: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    max-width: calc(100% - 22px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
}

button:hover {
    background-color: #0056b3;
}

#orderDetails, #savedOrders {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}
